@font-face {
    font-family: 'Freeman';
    src: url(fonts/Freeman/Freeman-Regular.ttf);
}

@font-face {
    font-family: 'Tenor_Sans';
    src: url(fonts/Tenor_Sans/TenorSans-Regular.ttf);
}
body {
    background-color: #000;
    font-family: "Tenor_Sans";
}

/*----------NAV BAR STYLING-----------*/

.nav-bar {
    list-style-type: none;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 4fr;
}
.nav-item {
    text-decoration: none;
}

ul>li>a {
    text-decoration: none;
    color: white;

}

.nav-bar-logo {
    width: 20%;
}

/*-------HOME PAGE STYLING----------*/
/*-----------TITLE STYLING----------*/
.title-img {
    width: 100%;
}

.title-img-byline {
    display: flex;
    justify-content: flex-end;
    margin: 0 1% 0 0;
    color: white;
    font-size: 3vw;
}


/*---------ABOUT PAGE STYLING--------*/
.synopsis-title {
    font-family: 'Freeman';
    color: white;
    display: flex;
    justify-content: center;
    font-size: 5vw;
}

.synopsis-blurb {
    color: white;
    padding: 0 2% 0 2%;
}
.still-life-img {
    width: 45%;
    display: flex;
    justify-content: center;
}

.still-life-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}